<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body id="signUp">
    <div id="form">
        <h1 class="header">PetSwipe</h1>
        <p>
            New Adoptee:
        </p>
        <form class="signUpForm" @submit.prevent="submit">
            <div>
                <label for="username">User Name:</label>
                <input v-model="newUser.user_name_a">
            </div>
            <div>
                <label for="password">Password:</label>
                <input v-model="newUser.user_name_a_pw">
            </div> 
            <div>
                <label for="location">Location:</label>
                <input v-model="newUser.location_city">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" v-model="newUser.contact_email">
            </div>
            <div>
                <label for="picture">Picture URL:</label>
                <input v-model="newUser.picture_url">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        var form = new Vue ({
            el: "#form",
            data: {
                newUser: {
                    user_name_a: "",
                    user_name_a_pw: "",
                    location_city: "",
                    contact_email: "",
                    picture_url: ""
                }
                
            },
            methods: {
                submit: function () {
                    fetch("https://petswipedb.herokuapp.com/users_a", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(this.newUser)
                    })
                }
            }
        })
    </script>
</body>
</html>