<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="form">
        <h1 class="header">PetSwipe</h1>
        <p>
            Create an account
        </p>
        <form class="signUpForm" @submit.prevent="submit">
            <div v-for="input in form">
                <label :for=input>
                    {{ input.name }}
                </label>
                <input v-model="form[input].value">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        var form = new Vue ({
            el: "#form",
            data: {
                form: [
                    {
                        name: "User Name:",
                        value: ""
                    },
                    {
                        name: "Password:",
                        value: ""
                    },
                    {
                        name: "Location:",
                        value: ""
                        
                    },
                    {
                        name: "Email:",
                        value: ""
                        
                    },
                    {
                        name: "Picture URL:",
                        value: ""
                        
                    }
                ],
                
            },
            methods: {
                submit: function () {
                    console.log(this.form)
                    console.log(this.newProfile.user_name)
                }
            }
        })
    </script>
</body>
</html>