<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Lobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="adoptee">
        <h1>PetSwipe</h1>
        <div class="currentPets" v-if="newPet">
            <h2>Your Pets:</h2>
            <div class="list">

            </div>
            <button v-on:click="addForm">Add a pet</button>
        </div>
        <div v-else>
            <div class="back">
                <button v-on:click="addForm">X</button>
                <h2>Add a Listing:</h2>
            </div>
            <form class="petForm" @submit.prevent="submit">
                <label for="petName">Pet Name:</label>
                <input for="petName" v-model="newPetInfo.pet_name">
                <label for="species">Species:</label>
                <input for="species" v-model="newPetInfo.species">
                <label for="petGender">Pet Gender:</label>
                <input for="petGender" v-model="newPetInfo.pet_gender">
                <label for="petAge">Pet Age:</label>
                <input for="petAge" v-model="newPetInfo.pet_age">
                <label for="preferences">Preferences:</label>
                <input for="preferences" v-model="newPetInfo.preferences">
                <label for="coatLength">Coat Length:</label>
                <input for="coatLength" v-model="newPetInfo.coat_length">
                <label for="petSize">Pet Size:</label>
                <input for="petSize" v-model="newPetInfo.pet_size">
                <label for="pcitureURL">Picture URL:</label>
                <input for="pictureUrl" v-model="newPetInfo.pet_picture_url">
                <div class="checkboxes">
                    <div>
                        <label for="houseTrained">House Trained:</label>
                        <label for="vaccinations">Vaccinations:</label>
                        <label for="spayed">Spayed/Neutured:</label>
                    </div>
                    <div>
                        <input type="checkbox" v-on:click="newPetInfo.house_trained=!newPetInfo.house_trained"></input>
                        <input type="checkbox" v-on:click="newPetInfo.vaccinations=!newPetInfo.vaccinations"></input>
                        <input type="checkbox" v-on:click="newPetInfo.spay_neuter=!newPetInfo.spay_neuter"></input>
                    </div>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        var adoptee = new Vue({
            el: "#adoptee",
            data: {
                newPet: true,
                newPetInfo: {
                    pet_name: "",
                    species: "",
                    pet_gender: "",
                    pet_age: "",
                    house_trained: false,
                    preferences: "",
                    vaccinations: false,
                    spay_neuter: false,
                    coat_length: "",
                    pet_size: "",
                    pet_picture_url: ""
                }
            },
            methods: {
                addForm: function () {
                    this.newPet = !this.newPet
                },
                submit: function () {
                    fetch("https://petswipedb.herokuapp.com/pet_info", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(this.newPetInfo)
                    })
                    console.log(this.newPetInfo)
                }
            }
        })
    </script>
</body>

</html>