<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed%7CLobster" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body id="signUp">
    <div id="form">
        <h1 class="header">PetSwipe</h1>
        <p>
            Contact Owner
        </p>
        <form class="signUpForm">
            <div>
                <label for="name">Name:</label>
                <input v-model="newUser.name">
            </div>
            <div>
                <label for="pet_name">Pet Name:</label>
                <input v-model="newUser.pet_name">
            </div>
            <div>
                <label for="location">Location:</label>
                <input v-model="newUser.location_city">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" v-model="newUser.contact_email">
            </div>
            <div>
                <label for="phonenumber">Phone Number:</label>
                <input v-model="newUser.phonenumber">
            </div>
            <div>
                <label for="about" type="text" cols="40" rows="7">Message:</label>
                <textarea class="about" value="text" v-model="newUser.message"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
    <script>
        var form = new Vue({
            el: "#form",
            data: {
                newUser: {
                    name: "",
                    pet_name: "",
                    email: "",
                    location_city: "",
                    phonenumber: "",
                    message: "",
                }
            },
            methods: {
                submit: function () {
                    fetch("https://petswipemailer.herokuapp.com/send", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(this.newUser)
                    })
                }
            }
        })
    </script>
</body>

</html>