/* Home Page */
.landingBody {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  font-family: "Encode Sans Condensed", sans-serif;
  text-align: center;
}
.landingBody #logo {
  font-size: 3rem;
  color: black;
  font-family: "Lobster", cursive;
  color: #ff0800;
}
.landingBody button:hover {
  cursor: pointer;
}
.landingBody .formContainer {
  height: 70%;
  width: 130vw;
  position: relative;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .landingBody .formContainer {
    width: 90vw;
  }
}
.landingBody #login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  background-color: white;
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.landingBody #login input {
  width: 90%;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}
.landingBody #login button {
  height: 2rem;
  width: 40%;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
}
.landingBody #signUp {
  margin: 2rem;
}
.landingBody #signUp button {
  height: 2rem;
  border-radius: 1rem;
  width: 10rem;
  height: 5rem;
  font-size: 1.5rem;
}

/*Sign up landing page */
.signUp {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Encode Sans Condensed", sans-serif;
}
.signUp h1 {
  font-family: "Lobster", cursive;
  color: #ff0800;
}
.signUp .cardContainer {
  display: flex;
  flex-direction: column;
}
.signUp .cardContainer .card {
  border: solid black 1px;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
}
.signUp .cardContainer .card img {
  height: 10rem;
  width: auto;
  border-radius: 3rem;
}
@media (min-width: 1024px) {
  .signUp .cardContainer {
    flex-direction: row;
  }
  .signUp .card {
    width: 35vw;
    height: 60vh;
  }
}

/* Sign-up Pages */
#signUp {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Encode Sans Condensed", sans-serif;
}
#signUp .header {
  font-family: "Lobster", cursive;
  color: #ff0800;
  height: 2rem;
}
#signUp p {
  font-size: 1.25rem;
  padding-top: 1rem;
}
#signUp .signUpForm {
  border: solid black 1px;
  border-radius: 1rem;
  margin: 1rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
  padding: 1rem;
  width: 80%;
}
#signUp .signUpForm input {
  border: solid black 1px;
  float: right;
}
#signUp .signUpForm button {
  border: solid black 1px;
  width: 30vw;
  height: 2rem;
  border-radius: 1rem;
  float: center;
  background-color: white;
  align-self: center;
  font-size: 1rem;
}
#signUp .signUpForm button:hover {
  cursor: pointer;
}
#signUp .signUpForm .about {
  height: 10vh;
  border: solid black 1px;
  float: right;
}
@media (min-width: 1024px) {
  #signUp .header {
    font-size: 3rem;
  }
  #signUp p {
    font-size: 2rem;
  }
  #signUp .signUpForm {
    width: 60vw;
    height: 90vh;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #signUp .signUpForm label {
    font-size: 2rem;
  }
  #signUp .signUpForm input {
    width: 60vw;
    height: 2rem;
    margin-right: 0rem;
    font-size: 1.5rem;
  }
  #signUp .signUpForm button {
    font-size: 1.5rem;
    height: 2rem;
    width: 12vw;
  }
  #signUp .signUpForm .about {
    height: 10vh;
    width: 50vw;
    margin: 1rem;
    font-size: 1.5rem;
  }
}

/* Swipe styling */
#swipe {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: "Encode Sans Condensed", sans-serif;
}
#swipe h1 {
  font-family: "Lobster", cursive;
  color: #ff0800;
}
#swipe .card {
  height: 50%;
  width: 80%;
  border: solid black 1px;
  border-radius: 2rem;
}
#swipe .card img {
  border-radius: 2rem 2rem 0rem 0rem;
  height: 15rem;
  width: 100%;
}
#swipe .buttons {
  display: flex;
  flex-direction: row;
  align-content: center;
}
#swipe .buttons button {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  font-size: 3rem;
  border: solid black 1px;
  background-color: white;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
}
#swipe .menu {
  margin-top: 20%;
  height: 5.5rem;
  width: 105%;
  background-color: #ff0800;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#swipe .menu .logo {
  margin-top: 1rem;
  background-color: white;
  height: 3rem;
  width: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  border-radius: 1.5rem;
}
#swipe .menu .logo button {
  font-size: 2rem;
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  #swipe h1 {
    font-size: 3rem;
  }
  #swipe .card {
    height: 65vh;
    width: 50%;
    font-size: 2rem;
  }
  #swipe .card img {
    height: 80%;
  }
}

/* Adoptee Sign-up */
#adoptee {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Encode Sans Condensed", sans-serif;
}
#adoptee h1 {
  color: #ff0800;
  font-family: "Lobster", cursive;
}
#adoptee .list {
  height: auto;
  width: 80vw;
  border: solid black 1px;
  border-radius: 0.5rem;
}
#adoptee button {
  height: 7vh;
  border: solid black 1px;
  width: 50vw;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: white;
  font-family: "Encode Sans Condensed", sans-serif;
}
#adoptee .back {
  display: flex;
  flex-direction: row;
}
#adoptee .back button {
  width: 10vw;
  height: 5vh;
  margin-top: 1.25rem;
  border-radius: 0rem;
}
#adoptee .petForm {
  height: 65vh;
  width: 80vw;
  border: solid black 1px;
  display: flex;
  align-content: center;
  flex-direction: column;
  padding-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
#adoptee .petForm input {
  border: solid black 1px;
  width: 80vw;
  padding: 0.1rem;
}
#adoptee .petForm .checkboxes {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
#adoptee .petForm button {
  width: 20vw;
  margin: 0.2rem;
  margin-top: 1rem;
  margin-left: 37%;
  font-size: 1rem;
}
@media (min-width: 1024px) {
  #adoptee .back button {
    width: 3rem;
  }
  #adoptee .petForm {
    margin-top: 0rem;
    height: 80vh;
    width: 60vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding-left: 5rem;
  }
  #adoptee .petForm input {
    height: 2rem;
    width: 50vw;
    font-size: 1.5rem;
  }
  #adoptee .petForm .checkboxes input {
    height: 1rem;
    margin-left: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
