$mainBlue: #52dcff;
$mainOrange: #ff8652;
$lobster: 'Lobster', cursive;
$SansFont: 'Encode Sans Condensed', sans-serif;




.landingBody {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    font-family: $SansFont;
    text-align: center;

    #logo {
        font-size: 3rem;
        color: black;
        font-family: $lobster;
    }

    button:hover {
        cursor: pointer;
    }

    .formContainer {
        height: 70%;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        position: relative;
        bottom: 7rem;
    }

    #login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid black 1px;
        background-color: white;
        width: 50%;
        padding: .5rem;
        border-radius: 1rem;
    
        input {
            width: 90%;
            padding: .25rem;
            margin: .25rem;
            border-radius: .25rem;
        }

        button {
            width: 40%;
            padding: .25rem;
            margin: .25rem;
            border-radius: .25rem;
        }
    }

    #signUp {
        margin: 2rem;
        button {
            height: 2rem;
            border-radius: 1rem;
            width: 10rem;
            height: 5rem;
            font-size: 1.5rem;
        }
    }
}