$logo: 'Lobster', cursive;
$primary: #ff0800;
$SansFont: 'Encode Sans Condensed', sans-serif;
$desktop: "(min-width: 1024px)";
@mixin head {
    font-family: $logo;
    color: $primary;
    height: 2rem;
}


/* Home Page */ 
.landingBody {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("https://images.pexels.com/photos/406014/pexels-photo-406014.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    font-family: $SansFont;
    text-align: center;

    #logo {
        font-size: 3rem;
        color: black;
        font-family: $logo;
        color: $primary;
    }

    button:hover {
        cursor: pointer;
    }

    .formContainer {
        height: 70%;
        width: 130vw;
        position: relative;
        bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
    }

    @media #{$desktop}{
        .formContainer {
            width: 90vw;
        }
    }

    #login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid black 1px;
        background-color: white;
        width: 50%;
        padding: .5rem;
        border-radius: 1rem;
    
        input {
            width: 90%;
            padding: .25rem;
            margin: .25rem;
            border-radius: .25rem;
        }

        button {
            height: 2rem;
            width: 40%;
            padding: .25rem;
            margin: .25rem;
            border-radius: .25rem;
        }
    }

    #signUp {
        margin: 2rem;
        button {
            height: 2rem;
            border-radius: 1rem;
            width: 10rem;
            height: 5rem;
            font-size: 1.5rem;
        }
    }

    
}


/*Sign up landing page */
.signUp {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $SansFont;

    h1 {
        font-family: $logo;
        color: $primary;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;

        .card {
            border: solid black 1px;
            border-radius: 1rem;
            margin: 1rem;
            padding: 1rem;

            img {
                height: 10rem;
                width: auto;
                border-radius: 3rem;
            }
        }
    }
    @media #{$desktop}{
        .cardContainer {
            flex-direction: row;
        }

        .card {
            width: 35vw;
            height: 60vh;
        }

    }

}

/* Sign-up Pages */

#signUp {
   display: flex;
   justify-content: center;
   text-align: center;
   font-family: $SansFont;
    .header {
        @include head;
    }

    p {
        font-size: 1.25rem;
        padding-top: 1rem;
    }

    .signUpForm {
        border: solid black 1px;
        border-radius: 1rem;
        margin: 1rem;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: left;
        padding: 1rem;
        width: 80%;

        input{
            border: solid black 1px;
            float: right;
        }
        
        button{
            border: solid black 1px;
            width: 30vw;
            height: 2rem;
            border-radius: 1rem;
            float: center;
            background-color: white;
            align-self: center;
            font-size: 1rem;
        }

        button:hover{
            cursor: pointer;
        }

        .about {
            height: 10vh;
            border: solid black 1px;
            float: right;
        }
    }

    @media #{$desktop}{
        .header {
            font-size: 3rem;
        }

        p {
            font-size: 2rem;
        }
        .signUpForm {
            width: 60vw;
            height: 90vh;
            padding-left: 2rem;
            padding-right: 2rem;

            label {
                font-size: 2rem;
            }

            input {
                width: 60vw;
                height: 2rem;
                margin-right: 0rem;
                font-size: 1.5rem;
            }

            button {
                font-size: 1.5rem;
                height: 2rem;
                width: 12vw;
            }

            .about {
                height: 10vh;
                width: 50vw;
                margin: 1rem;
                font-size: 1.5rem;
            }
        }
    }
}

/* Swipe styling */
#swipe{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: $SansFont;

    h1 {
        font-family: $logo;
        color: $primary;
    }

    .card{
        height: 50%;
        width: 80%;
        border: solid black 1px;
        border-radius: 2rem;

        img {
            border-radius: 2rem 2rem 0rem 0rem;
            height: 15rem;
            width: 100%;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-content: center;
        
        button {
            height: 5rem;
            width: 5rem;
            border-radius: 2.5rem;
            font-size: 3rem;
            border: solid black 1px;
            background-color: white;
            margin-top: 2rem;
            margin-left: 2rem;
            margin-right: 2rem;
            text-align: center;
            
        }
    }

    .menu {
        margin-top: 20%;
        height: 5.5rem;
        width: 105%;
        background-color: $primary;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        
        .logo {
            margin-top: 1rem;
            background-color: white;
            height: 3rem;
            width: 3rem;
            display: flex;
            text-align: center;
            justify-content: center;
            align-content: center;
            border-radius: 1.5rem;
            
            button {
                font-size: 2rem;
                padding: .5rem;
            }
        }
    }

    @media #{$desktop}{

        h1 {
            font-size: 3rem;
        }
        .card{
            height: 65vh;
            width: 50%;
            font-size: 2rem;

            img{
                height: 80%;
            }
        }
    }
}

/* Adoptee Sign-up */

#adoptee {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $SansFont;

    h1{
        color: $primary;
        font-family: $logo;
    }

    .list {
        height: auto;
        width: 80vw;
        border: solid black 1px;
        border-radius: .5rem;
    }
    
    button {
        height: 7vh;
        border: solid black 1px;
        width: 50vw;
        margin: 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        background-color: white;
        font-family: $SansFont;
    }

    .back {
        display: flex;
        flex-direction: row;

        button {
            width: 10vw;
            height: 5vh;
            margin-top: 1.25rem;
            border-radius: 0rem;
        }
    }

    .petForm {
        height: 65vh;
        width: 80vw;
        border: solid black 1px;
        display: flex;
        align-content: center;
        flex-direction: column;
        padding-left: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        
        input {
            border: solid black 1px;
            width: 80vw;
            padding: .1rem;
        }

        .checkboxes {
            display: flex;
            flex-direction: row;
            padding: 1rem;
        }

        button {
            width: 20vw;
            margin: .2rem;
            margin-left: 37%;
        }
    }
}